<section class="w-75 m-auto p-5  bg-main-light mt-3 shadow border rounded">
    <form  *ngIf="step1"           class="w-75 mx-auto mb-3" [formGroup]="forgetpassword" (ngSubmit)="forgotpassword()" >
        <div class="form-floating">
            <input type="email" class="form-control" id="email" placeholder="enter your email:" formControlName="email"  [ngClass]="{'is-valid':forgetpassword.get('email')?.valid,'is-invalid':forgetpassword.get('email')?.invalid &&forgetpassword.get('email')?.dirty}">
            <label for="email">enter your email:</label>
        </div>
        <div   *ngIf="forgetpassword.get('email')?.errors &&forgetpassword.get('email')?.dirty"    class="alert alert-danger w-50 text-center  mx-auto">
            <p *ngIf="forgetpassword.get('email')?.getError('required')">please fillout  this field</p>
            <p *ngIf="forgetpassword.get('email')?.getError('email')">enter correct email </p>
        </div>
        <button class="main-btn w-50  d-block mx-auto  mt-3 p-3 rounded ">send email</button>
        <div *ngIf="msg" class="alert alert-danger mb-0 mt-3 w-50 mx-auto"><p>{{msg}}</p></div>

    </form>
    <form   *ngIf="step2"     class="w-75 mx-auto mb-3" [formGroup]="resetCode"  (ngSubmit)="resetyourCode()">

        <div class="form-floating">
            <input type="text" class="form-control" id="resetCode" placeholder="enterresetCode:" formControlName="resetCode">
            <label for="resetCode">enter resetCode:</label>
        </div>

        <button class="main-btn w-50  d-block mx-auto  mt-3 p-3 rounded ">reset Code</button>
        <div *ngIf="msg"   class="alert alert-danger mb-0  mt-3 w-50 mx-auto"><p>{{msg}}</p></div>

        
    </form>
    <form  *ngIf="step3"         class="w-75 mx-auto mb-3" [formGroup]="resetPassword" (ngSubmit)="resetyourPassword()" >
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="enter new password :" formControlName="newPassword" [ngClass]="{'is-valid':resetPassword.get('newPassword')?.valid,'is-invalid':resetPassword.get('newPassword')?.invalid &&forgetpassword.get('newPassword')?.dirty}">
            <label for="password">enter new password:</label>
        </div>
        <div class="alert alert-danger w-50 text-center  mx-auto" *ngIf="resetPassword.get('newPassword')?.errors &&resetPassword.get('newPassword')?.dirty">
            <p *ngIf="resetPassword.get('newPassword')?.getError('required')">please fillout  this field</p>
            <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')">password must be at least 6 letters or numbers </p>
        </div>
        <button class="main-btn w-50  d-block mx-auto  mt-3 p-3 rounded ">Resset pasword</button>
        <div *ngIf="msg"   class="alert alert-danger mb-0 mt-3 w-50 mx-auto"><p>{{msg}}</p></div>

    </form>
   
</section>