

<section class="w-75 bg-main-light  shadow rounded p-4 my-4 m-auto" >
    <h1 class="my-5">register Now:</h1>

<form [formGroup]="registerForm" (ngSubmit)="handleform()">



    <div class="form-floating my-3">
      
        <input type="name" class="form-control" id="name" placeholder="name..."  formControlName="name"  [ngClass]="{'is-invalid': registerForm.get('name')?.dirty &&registerForm.get('name')?.invalid,' is-valid':registerForm.get('name')?.valid &&registerForm.get('name')?.dirty}">
        <label for="name">name:</label>
</div>
<div class="alert alert-danger p-1 small m-auto w-50" *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">

    <p  class="mb-0"    *ngIf="registerForm.get('name')?.getError('required')">please fillout this field</p>
    <p class="mb-0" *ngIf="registerForm.get('name')?.getError('minlength')">minlength 3</p>
    <p  class="mb-0" *ngIf="registerForm.get('name')?.getError('maxlength')">maxlength is 20</p>
</div>

<div class="form-floating my-3">
        
    <input type="email" class="form-control" id="email" placeholder="email..." formControlName="email"  [ngClass]="{'is-invalid': registerForm.get('email')?.dirty &&registerForm.get('email')?.invalid,' is-valid':registerForm.get('email')?.valid &&registerForm.get('email')?.dirty}">
    <label for="email">email:</label>
</div>
<div class="alert alert-danger p-1 small m-auto w-50" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">

    <p  class="mb-0"    *ngIf="registerForm.get('email')?.getError('required')">please fillout this field</p>
    <p class="mb-0" *ngIf="registerForm.get('email')?.getError('email')">email invalid format </p>
</div>
<div class="d-flex justify-content-end">
    <input  type="checkbox" (change)="showHidePassword($event)" >show 
    </div>
<div class="form-floating my-3">
        
    <input [type]="showpassword ? 'text':'password'"  class="form-control" id="password" placeholder="password..." formControlName="password" [ngClass]="{'is-invalid': registerForm.get('password')?.dirty &&registerForm.get('password')?.invalid,' is-valid':registerForm.get('password')?.valid &&registerForm.get('password')?.dirty}" >
    <label for="password">password:</label>
</div>

<div class="alert alert-danger p-1 small m-auto w-50" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">

    <p  class="mb-0"    *ngIf="registerForm.get('password')?.getError('required')">please fillout this field</p>
    <p class="mb-0" *ngIf="registerForm.get('password')?.getError('pattern')">inncorect password min length is 6</p>
</div>

<!-- <div class="d-flex justify-content-end">
    <input  type="checkbox" (change)="showHidePassword($event)" >show 
    </div> -->
<div class="form-floating my-3">
        
    <input  [type]="showpassword ? 'text':'password'"  class="form-control" id="rePassword" placeholder="rePassword..." formControlName="rePassword"  [ngClass]="{'is-invalid': registerForm.get('rePassword')?.dirty &&registerForm.get('rePassword')?.getError('mismatch'),' is-valid':registerForm.get('rePassword')?.valid &&registerForm.get('rePassword')?.dirty}">
    <label for="rePassword">rePassword:</label>
</div>
<div class="alert alert-danger p-1 small m-auto w-50" *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched">

    <p  class="mb-0"    *ngIf="registerForm.get('rePassword')?.getError('required')">please fillout this field</p>
    <p class="mb-0" *ngIf="registerForm.get('rePassword')?.getError('mismatch')">repassword confirmation is incorrect</p>
</div>
<div class="form-floating my-3">
        
    <input type="tel" class="form-control" id="phone" placeholder="phone..." formControlName="phone"  [ngClass]="{'is-invalid': registerForm.get('phone')?.dirty &&registerForm.get('phone')?.invalid,' is-valid':registerForm.get('phone')?.valid &&registerForm.get('phone')?.dirty}">
    <label for="phone">phone:</label>
</div>
<div class="alert alert-danger p-1 small m-auto w-50" *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">

    <p  class="mb-0"    *ngIf="registerForm.get('phone')?.getError('required')">please fillout this field</p>
    <p class="mb-0" *ngIf="registerForm.get('phone')?.getError('pattern')">accept only egyption phone number</p>
</div>
<button [disabled]="registerForm.invalid" class="main-btn d-block ms-auto p-2">register <span *ngIf="isloading"><i class=" fa fa-spinner fa-spin"></i></span></button> 

</form>
<p class="alert alert-danger mx-auto p-1 mb-0" *ngIf="errorMsg">{{errorMsg}}</p>
</section>