@media only screen and (max-width: 1500px) {
    /* For mobile phones: */
    button{
      // width: 30%;
      display: block;
      flex-shrink: 0;
      font-size: 10px;
     
    }
    .footerbtninp input,button {

      // display: block;
      // flex-shrink: 0;
      // font-size: 10px;
      margin: 0;
      padding: 0;
     
   
    }
  }