<!-- main slider -->
<section class="mt-4 p-3">

   <div class="row g-0 ">
      <div class="col-md-9">

         
         <owl-carousel-o [options]="mainsliderOptions">
           <ng-template carouselSlide class=" staticimg text-center"><img  height="450px" src="./assets/images/slider-image-1.jpeg" alt="slide1"></ng-template>  
           <ng-template carouselSlide  class="  staticimg text-center "><img     height="450px"  src="./assets/images/slider-image-2.jpeg" alt="slide2"></ng-template>  
           <ng-template   carouselSlide  class="  staticimg text-center"><img    height="450px"  src="./assets/images/slider-image-3.jpeg" alt="slide3"></ng-template>  
         </owl-carousel-o>
         
      </div>
  
   
   <div class="col-md-3 text-center text-xl-center    text-lg-center text-md-center text-sm-center text-xs-center ">
      
      <img class="slide2"  height="225px" src="./assets/images/grocery-banner-2.jpeg" alt="" class="w-100 ">
      <img  class="slide2" height="225px" src="./assets/images/grocery-banner.png" alt="" class="w-100 ">
   </div>
</div>
</section>
<!-- category slider -->
<section class="" *ngIf="categories.length">
   <h2 class="my-5">popular categories</h2>
   
   <owl-carousel-o    class="categoryslidr" [options]="customOptions">

 
     <ng-container *ngFor="let category of categories">
       <ng-template carouselSlide>
         <img  height="300px" [src]="category.image" [alt]="category.name" [title]="category.name" class="w-100">
         <h3 class="h4 text-main">{{category.name}}</h3>
       </ng-template>
     </ng-container>
 
   </owl-carousel-o>
   
</section>
<!-- show popular products -->

<section class="mb-5" *ngIf="products.length>0 ">


<h2 class="my-3">popular products</h2>

<input type="text" placeholder="serach....."  class="form-control w-50 mx-auto p-3 mb-5 shadow"  [(ngModel)]="searchword">

<div class="row g-4 ">
   <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let product of products.slice(0,12)|search:searchword">
     
    <div class="product h-100 py-1 ">

      <!-- add to wishlist -->
      <i  *ngIf="!allwishlistid.includes( $any(product._id))" class="fa-regular fa-heart heart text-main" (click)="addwishlist(product._id)"></i>
      <!-- remove from wishlist -->
      <i *ngIf="allwishlistid.includes( $any(product._id))"  class="fas fa-heart heart text-main" (click)="removefromwishlist(product._id)"></i>

      <header [routerLink]="['/productdetails',product._id]" role="button">

        <img [src]="product.imageCover" class="w-100" alt="product.title" >
       
           <h3 class="h6">{{product.title |cuttext:3}}</h3>
            <h4 class="h6 text-main">{{product.category.name}}</h4>
           <div class="d-flex align-items-center justify-content-between small">
          <span class=" ">{{product.price|currency:'e£'}}</span>
          <span><i [class.rating-color]="product.ratingsAverage >=item"   *ngFor="let item of [1,2,3,4,5]" class="fas fa-star "></i> 
            <span class="text-muted">{{product.ratingsAverage}}</span></span>
           </div>
     </header>

   <footer class="mt-1"><button class="main-btn w-100 py-2 rounded " (click)="addproducttocart(product._id,btn)" #btn >+Add to cart</button></footer>
        </div>
  
       </div>

    

      </div>

</section>

<!-- <div  class="d-flex align-items-center">

</div> -->
