<section class="w-50 shadow mx-auto mb-3 bg-main-light p-4">
<h1 class="h3 mb-3"> check out session:</h1>
    <form [formGroup]="checkoutForm" (ngSubmit)="handleForm()">
    <div class="form-floating m-3">

        <input type="text" id="details" formControlName="details" placeholder="details" class="form-control">
        <label for="details">Details</label>
    </div>
    <div class="form-floating  m-3">

        <input type="tel" id="phone" formControlName="phone" placeholder="phone"  class="form-control">
        <label for="phone">phone</label>
    </div>
    <div class="form-floating  m-3">

        <input type="text" id="city" formControlName="city"  placeholder="city"  class="form-control">
        <label for="city">city</label>
    </div>
    
    <button class="main-btn d-block ms-auto mt-3">checkout</button>
    
    </form>
</section>