

<section class="w-75 bg-main-light  shadow rounded  p-4 my-4 m-auto" >
    <!-- px-5 pb-4 pt-1 m-4 m-auto mb-sm-5 -->
    <h1 class="my-5">Login Now:</h1>

<form [formGroup]="loginForm" (ngSubmit)="handleform()">





<div class="form-floating my-3">
        
    <input type="email" class="form-control" id="email" placeholder="email..." formControlName="email"  [ngClass]="{'is-invalid': loginForm.get('email')?.dirty &&loginForm.get('email')?.invalid,' is-valid':loginForm.get('email')?.valid &&loginForm.get('email')?.dirty}">
    <label for="email">email:</label>
</div>
<div class="alert alert-danger p-1 small m-auto w-50" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">

    <p  class="mb-0"    *ngIf="loginForm.get('email')?.getError('required')">please fillout this field</p>
    <p class="mb-0" *ngIf="loginForm.get('email')?.getError('email')">email invalid format </p>
</div>
<div class="d-flex justify-content-end">
<input  type="checkbox" (change)="showHidePassword($event)" >show 
</div>

<div class="form-floating my-3">


    <input  [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" placeholder="password..." formControlName="password"[ngClass]="{'is-invalid': loginForm.get('password')?.dirty &&loginForm.get('password')?.invalid,' is-valid':loginForm.get('password')?.valid &&loginForm.get('password')?.dirty}" >
    <label for="password">password:</label>

   

</div>


<div class="alert alert-danger p-1 small m-auto w-50" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">

    <p  class="mb-0"    *ngIf="loginForm.get('password')?.getError('required')">please fillout this field</p>
    <p class="mb-0" *ngIf="loginForm.get('password')?.getError('pattern')">password inncorect min length is 6</p>

</div>
<div class="d-flex justify-content-between align-items-center mt-4">
   
    <a class="link-opacity-75-hover  link-offset-2 link-underline link-underline-opacity-25 mt-4" routerLink='/forget' routerLinkActive="router-link-active" >forgot password?</a>


    <button [disabled]="loginForm.invalid" class="main-btn d-block ms-auto p-2 m-4 px-4 loginbtn ">login<span *ngIf="isloading"><i class=" fa fa-spinner fa-spin"></i></span></button>
  


   
   


</div>
<hr class="w-75 ">
<div>
    <a class="link-opacity-50-hover link-underline-light ms-2 fs-4" routerLink='/register' routerLinkActive="router-link-active" >create account</a>
 </div>



<!--<button [disabled]="loginForm.invalid" class="main-btn d-block m-auto p-2 w-25 loginbtn">login<span *ngIf="isloading"><i class=" fa fa-spinner fa-spin"></i></span></button>
<a class=" d-block text-underline-none text-center ms-auto" routerLink='/forget' routerLinkActive="router-link-active" >forgetpassword?</a>




 <div class="d-flex justify-content-center align-items-center">
    
    <div>
<br>

<hr class="w-100 m-auto my-2 ">
    <p class="text-muted"> if you not have an account please <a class="text-underline-none ms-2" routerLink='/register' routerLinkActive="router-link-active" >signin</a> </p>
</div>
</div> -->

</form>
<p class="alert alert-danger mx-auto p-1 mb-0" *ngIf="errorMsg">{{errorMsg}}</p>
</section>