@media only screen and (max-width: 1200px) {
    
    section{
        margin: 3rem;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
        
      
    }
   

   
  
   }