@media only screen and (max-width: 1200px) {
    
    section{
        margin: 3rem;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
        
      
    }
   
   .loginbtn{
        font-size: 12px;
    
      width: 50%!important;
   
    margin: auto;
   
      
     
    }
   
  
   }